<section class="content">
    <div class="block-content">
        <h3 class="block-title">Portafolio</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                  <!--  <span>Filters :</span>
                    <ul id="filters">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".artwork">Art Work</li>
                        <li data-filter=".webdesign">Web Design</li>
                        <li data-filter=".design">Design</li>
                    </ul>
                --> 
                <h4>Networks </h4>
                </div>
                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a  href="www.linkedin.com/in/luisfernando199" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Linkedin</h2>
                                        <hr>
                                        <p>Go to Luis Fer's linkedin.</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\img-linkedin.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 1 END -->
                      <!-- WORK 2 START -->
                      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a href="https://github.com/LuisFernando199" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Git Hub</h2>
                                        <hr>
                                        <p>Go to Luis Fer's GitHub.</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\img-gitHub.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 2 END -->
                
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <p  class="btn lowercase">Upcoming Projects</p>
        </div>
        <!--Project 1-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
            <a class="open-project" href="project-1.html">
                <div class="portfolio-column">
                    <div class="portfolio-hover">
                        <div class="portfolio-content">
                            <h2>This is a test</h2>
                            <hr>
                            <p>View details.</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                    </div>
                    <img src="assets\images\portfolio\masonry\img-gitHub.png" alt="">
                </div>
            </a>
        </div>
        <!--End Project 1-->
    </div>
  </section>
  